notebooks/
storage/
t5_decorator_model/
checkpoint-200/
checkpoint-200-small/
declension_lora/
dumitrescustefan_token_output/
__pycache__/
node_modules/
dist/
venv/
bert_model.pt
*.pyc
.requirements.txt
.requirements_docker.txt
!storage/duplets_dictionary.py
!storage/training/example.json
*.env.*
!.env
!.env.docker
!.env.uat