# --- Core ---
requests
snscrape
python-dateutil
python-dotenv
numpy
#pandas

# --- Cloud / Infra ---
boto3
botocore
pydantic
psutil
protobuf
hf_xet

# --- API ---
fastapi
uvicorn
flasgger

# --- NLP / Model ---
spacy>=3.8.5
sentencepiece
transformers>=4.30.0
peft
accelerate>=0.26.0